<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>February 5</key>
	<array>
		<string>hello</string>
	</array>
	<key>February 2</key>
	<array>
		<string>hello</string>
	</array>
	<key>January 25</key>
	<array>
		<string>hello</string>
	</array>
	<key>January 7</key>
	<array>
		<string>hello</string>
	</array>
	<key>January 1</key>
	<array>
		<string>hello</string>
	</array>
</dict>
</plist>
